.container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.block {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
